/* Reset */

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body,
div,
p,
button,
nav,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #767676;
}

/* Layout */

.container {
  width: 350px;
  height: 140px;
  left: 25px;
  top: 30px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Design */
.title {
  position: absolute;
  width: 215px;
  height: 15px;
  left: 16px;
  top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.login-btu {
  position: absolute;
  width: 318px;
  height: 40px;
  left: 16px;
  top: 50px;
  border: none;
  background: #711bff;
  border-radius: 4px;
}

.login-btu-box {
  width: 102px;
  height: 18px;
  margin: 0 auto;
}

.longin-btu_text {
  color: #ffffff;
  position: relative;
  font-weight: 500;
  font-size: 12px;
  left: 1px;
  bottom: 3px;
}

.logo-img {
  width: 64px;
  height: 18px;
}

.nav-id {
  position: absolute;
  width: 34px;
  height: 15px;
  left: 36px;
  top: 107px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.nav-id::before {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(images/icon-lock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -1px;
  left: -20px;
}
.nav-id::after {
  content: " ";
  display: block;
  width: 1px;
  height: 12px;
  position: absolute;
  background-color: #767676;
  top: 2px;
  left: 39px;
}

.nav-pw {
  position: absolute;
  width: 67px;
  height: 15px;
  left: 82px;
  top: 107px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.nav-sign_up {
  position: absolute;
  width: 45px;
  height: 15px;
  left: 289px;
  top: 107px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.nav-sign_up::after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(images/icon-user.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -1px;
  left: -20px;
}
